.DS_Store
bin
homework-solution
node_modules
npm-debug.log
yarn-error.log
Meazer/tmp/todo/icelandWeather.json
Meazer/tmp/todo/smhi.json
Meazer/tmp/todo/smhi.1539812542.json
consumer/tmp/todo/icelandWeather.json
